.login-container {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
     
    width: 100%;
    height: 100%; 
    
}

.login-image {
    flex: 2; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.login-image :hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(7, 30, 240, 0.2);
}

.login-image :active{
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.login-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.login-form {
    flex: 1; 
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.logo-ford img {
    width: 300px;
    
}


.login-form h2 {
 color: #483D8B;
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 20px;
    margin-top: auto;
}

.login-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-bottom: auto;
}
  

input[type="text"],
input[type="password"] { 
    width: 100%;
    padding: 12px 15px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 15px;
}


button {
    width: 100%;
    padding: 12px;
    background-color: blue; 
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}


button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(22, 7, 240, 0.2);
}


button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}




