<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
  <p>Carregando dados...</p>
</div>

<div class="error-message" *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>

<div class="dashboard-container">

  <header class="dashboard-header">

    <h1>Dashboard FORD</h1>
    <div class="header-user">
      <span>AD</span>
      <a (click)="fazerLogout()" style="cursor: pointer;">Logout</a>
    </div>
  </header>

  <main class="dashboard-content">
  
    <section class="stats-cards">

      <div class="card">
        <label>Veículo</label>

        <select [(ngModel)]="selectedVehicleId" (ngModelChange)="onVehicleChange()">

          <option *ngFor="let v of vehicleModels" [value]="v.id">

            {{ v.vehicle }}
          </option>
        </select>
      </div>


      <div class="card">
        <label>Total de Vendas</label>

        <div class="value">{{ selectedVehicle?.volumetotal | number }}</div>
        <div class="unit">Unid.</div>
      </div>

      <div class="card">
        <label>Conectados</label>

        <div class="value">{{ selectedVehicle?.connected | number }}</div>
        <div class="unit">Unid.</div>
      </div>

      <div class="card">
        <label>Update Software</label>

        <div class="value">{{ selectedVehicle?.softwareUpdates | number }}</div>
        <div class="unit">Unid.</div>
      </div>
    </section>


    <section class="vehicle-display">

      <img [src]="selectedVehicle?.img" [alt]="selectedVehicle?.vehicle">
    </section>


    <section class="vehicle-data-table">
      <table>
        <thead>
          <tr>
            <th>Código - Vin</th>
            <th>Odômetro</th>
            <th>Nível de Combustível</th>
            <th>Status</th>
            <th>Lat.</th>
            <th>Long.</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngIf="vehicleData">

            <td>{{ vehicleData.vin }}</td>
            <td>{{ vehicleData.odometro | number }} Km</td>
            <td>{{ vehicleData.nivelCombustivel }}%</td>
            <td>{{ vehicleData.status }}</td>
            <td>{{ vehicleData.lat }}</td>
            <td>{{ vehicleData.long }}</td>
          </tr>


          <tr *ngIf="!vehicleData && !isLoading && !errorMessage">
            <td colspan="6">Dados detalhados aparecerão aqui.</td>
          </tr>
        </tbody>
      </table>
    </section>

  </main>
  
</div>