.home-container {
  width: 100vw;
  height: 100vh;

 
  background-image: url('/img/ranger.png'); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;


  position: relative; 
  overflow: hidden; 
}


.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 50px;
}


.welcome-card {
  background-color: rgba(253, 252, 252, 0.411);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 350px; 
  text-align: center;
  z-index: 10; 
}



.hamburger-menu {
  position: absolute; 
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.3); 
  border: none;
  font-size: 2em; 
  color: white; 
  cursor: pointer;
  z-index: 1001; 
  transition: left 0.3s ease-in-out;
  border-radius: 5px;
  padding: 0 5px;
}





.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px; 
  height: 100vh; 
  background-color: rgba(255, 255, 255, 0.95); 
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);

  
  transform: translateX(-100%); 
  transition: transform 0.3s ease-in-out;

  z-index: 1000; 
}


.sidebar.visible {
  transform: translateX(0%); 
}



.logo-sidebar {
  width: 100%;
  max-width: 180px; 
  margin-bottom: 30px;
  margin-top: 60px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  margin-bottom: 5px; 
  font-weight: bold;
  display: block; 
  border-radius: 4px;
}
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.nav-link.active {
  color: #003478; 
  background-color: rgba(0, 52, 120, 0.1);
}
.nav-link.logout {
  margin-top: auto; 
  color: red;
  text-align: center;
}

